
.desktop{
  width: 204vmin;
  height: 98vmin;
  border-radius: 5% 5% 0% 0%;
  background-color: #1446A0 ;
  display: flex;
  justify-content: center
}
.taskbar{
  background-color: #EBEBD3;
  width: 204vmin;
  height: 4vmin;
}
.about{
  
}
